[Desktop Entry]
Version=1.0
Type=Application
Name=Sonic Robo Blast 2 Kart Neptune
Comment=A SRB2Kart modification based on SRB2Kart Saturn and Uranus. Not netgame compatible with vanilla.
TryExec=srb2kart.sh
Exec=srb2kart.sh
Icon=org.srb2.SRB2Kart-Neptune
Terminal=false
Categories=Game;SportsGame;
Keywords=kart;sonic;racer;multiplayer;doom;
Actions=OpenGL;Software;

[Desktop Action OpenGL]
Name=OpenGL renderer
Exec=srb2kart.sh -opengl

[Desktop Action Software]
Name=Software renderer
Exec=srb2kart.sh -software
